#clown-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}
 .orange-background {
   background-color: #e67e00;
   color: darkgreen;
 }

 .purp-background {
   background-color: #660066;
   color: #ff751a;
 }

 .black-background {
   background-color: black;
   color: #ffe6ff
 }
